<section class="center-vertical">
	<h1>新規登録</h1>
	<form action = "/signup" method = "post">
	    <input type = "text" name = "user" placeholder = "ユーザー名"><br>
	    <input type = "text" name = "user" placeholder = "password"><br>
	    <input type = "file" name = "file"><br>
	    <input type = "submit" value = "新規登録">
	</form>
</section>